.bg-image {
    background: rgba(29, 29, 29, 0.7);
}

.btn-color {
    background-color: #289BDE;
}



.discover {
    height: 190px;
    width: 606px;
    left: 497px;
    top: 988px;
    border-radius: nullpx;
    align-items: center;

}

.courses img {
    height: 190px;
    width: 180px;
    left: 150px;
    top: 1228px;
    border-radius: 5px;

}

.sc {
    box-sizing: border-box;

    width: 550px;
    height: 190px;

    background: #FFFFFF;
    /* Dark 06 */

    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.exp {

    box-sizing: border-box;

    width: 2000px;
    height: 550px;

    background: #F4FAFD;


    border: 1px solid #E8E8E8;
    border-radius: 5px;

}

.exp-img img {
    height: 550px;
    width: 460px;
    border-radius: 0px;
    margin-right: 5px;

}

.register {
    background-color: #289BDE;
    height: 280px;
    width: 1125px;
    border-radius: 5px;

}



.sp {
    background-color: #FFFFFF;
    color: #289BDE;

}

/* modal  */

* {
    box-sizing: border-box;
}

/* Add padding to containers */


/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}